/* SignupPage.css */

.signup-container {
 
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #4caf50;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* White background with low opacity */
  margin-top: 2px;
}

.password-criteria {
  display: flex;
  margin-bottom: 15px; /* Optional: Add margin at the bottom for spacing */
}

.password-criteria div {
  display: flex;
  align-items: center;
  margin-right: 15px; /* Adjust the spacing between checkbox and label as needed */
}

.password-criteria input[type="checkbox"] {
  margin-right: 5px; /* Adjust the spacing between checkbox and label as needed */
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Align text to the left within form-group */
}

label {
  display: block;
  margin-bottom: 5px;
}

.signup-input {
  width: calc(100% - -100px); /* Adjust width to allow for padding and borders */
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Add border to input fields */
  border-radius: 5px;
  margin-top: 5px; /* Optional: Add top margin for spacing */
  display: block;
  margin: 2px; /* Center the input fields */
  background-color: rgba(255, 255, 255, 0.8); /* White background with 0.8 opacity */
}

.signup-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: auto; 
  
}

.signup-button:hover {
  background-color: #45a049;
}

.signup {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-bottom: 2px;
}